extends layout

block content
    h1.text-center #{thisuser.groupID} Dashboard
    hr
    br
    table.datatable.table.table-striped.table-bordered
        thead
            th Group Member
            th
            th Current Progress
            th
            th Current Goal
            th
            th Completions
        tbody
            -var counter = 0;
            each user in users
                tr
                    td(id="user"+counter) #{user.email}
                    td 
                    td(id="num"+counter) #{user.thisgoalprogress}                    
                    td 
                    td #{user.individGoal}
                    td
                    td #{user.completions}
                -counter++;

    br
    h3.text-center How Do You Stack Up?
    each user in users
        -var percentage = (user.thisgoalprogress   / user.individGoal) * 100;
        -var printpercentage = percentage.toFixed(2);
        p #{user.email} Has Completed #{printpercentage}% of Their Current Goal
        .progress
            .progress-bar.active(role="progressbar", style= 'width: '+ percentage + '%', aria-valuenow= "#{user.thisgoalprogress}", aria-valuemin="0", aria-valuemax= "#{user.individGoal}")
        br
    //- #chartContainer

    br
    br
    h2.text-center #{thisuser.groupID} Forum   
    br
    hr
    h3.text-center Have Something to Share? 
        | Post Here!
    br
    div.text-center
        form(method="POST", action="/postforum", autocomplete="on")
            input(type="hidden", name="_csrf", value=_csrf)  
            b| Message to Group:
            br
            textarea(name="forumpost", required="", rows="3", cols="70")    
            br
            br
            b| Picture URL   
            input(type="url", name="ForumImageURL")             
            br        
            br
            input(type="submit", class="btn text-center", value="Post")
    br
    br
    br
    div.cleared
    table.datatable.table.table-striped.table-bordered
        thead
            th Posted On
            th
            th Group Member
            th
            th Message
            th
            th Edit
            th
            th Delete
        tbody   
            each forum in forums
                -var datestring = forum.createdAt.toString();
                -datestring= datestring.substring(0, 21);
                -var forumpostid = forum.id;
                //- -var displaydate = new Date (forum.createdAt);
                //- -var d = displaydate.getDate();
                //- -var m = displaydate.getMonth()+1;
                //- -var y = displaydate.getFullYear();
                //- -var min = displaydate.getMinutes();
                //- -function formathours (i){
                //-     -if i == 0
                //-         -i = 12
                //-     -if i > 12
                //-         -i= i -12
                //-     -return i
                //- -}
                //- -var h = formathours(displaydate.getHours());
                //- -var prettydate = m + ' ' + d + ' ' + y + ' ' + h + ':' + min;
                tr
                    //- td  #{forum.createdAt}     
                    td  #{datestring}             
                    td      
                    td  #{forum.email}
                    td      
                    td  #{forum.message}
                    td
                    td  
                        a(href='editforumpost&postid=', class="posteditforum", data-id=forum.id) Edit
                    td
                    td 
                        a(href='deleteforumpost&postid=', class="deleteforumpost", data-id=forum.id) Delete Post               

    br
    br
    br

    h2.text-center #{thisuser.groupID} Image Gallery
    #groupmore.float-right
        a(href='') Show More
    #groupless.float-right
        a(href='') Show Less
    br
    br
    ul.groupgallery
        -var counter = 0;
        each forum in forums   
            if (forum.picture !== '')
                li
                    div  
                        -counter++;                                         
                        img.limitthumbnail(src= forum.picture, data-imgnum = counter ) 
    br
    br