extends layout

block content
    h1.text-center My Dashboard
    div.float-left-dash
        h3.text-center New Log Entry
        br
        div.float-left-dash
            form(method="POST", autocomplete="on")
                input(type="hidden", name="_csrf", value=_csrf)
                |    Date*
                br
                input(type="date", name="LogDateTime", required="")
                br
                | Log Entry Type*
                br
                select(required="", name="logtype")
                    option(value="default", selected="", disabled="", hidden="") Select
                    option(value="Weight") Weight
                    option(value="Exercise") Exercise
                    option(value="Food") Food
                br
                |     Entry Details* 
                br
                textarea(name="LogDetails", required="", rows="3", cols="35")
                br
                |     Current Progress*
                br
                input(type="number", name="LogProgress", required="")
                //- br
                //- |     Goal*
                //- br
                //- input(type="number", name="LogGoal", required="")
                br        
                |     Picture Upload
                br
                input(type="file", name="LogImage", accept="image/*")
                br
                br
                input(type="submit", class="btn", value="Add Entry")
    div.float-right-dash.border
        h3.text-center My Account
        br
        h4 Group:   
            a(href='/groupdash') #{thisuser.groupID}
        p
            a(href='/newgroup') Join or Start a New Group 
        p 
            a(href='/delete') Leave Group &amp; Delete Account
        h4 Goal:     #{thisuser.individGoal}
        h4 Completions: #{thisuser.completions}
        form(method="POST", action="/resetgoal", autocomplete="on")
            input(type="hidden", name="_csrf", value=_csrf)  
            | I Did It! My New Goal is
            br
            input(type="number", name="goalupdate", required="")  
            br
            br
            input(type="submit", class="btn", value="Set New Goal")   
        br      
        form(method="POST", action="/resetcompletions", autocomplete="on")
            input(type="hidden", name="_csrf", value=_csrf)  
            | Reset Completions
            br
            br
            input(type="submit", class="btn", value="Reset") 
        br
        p
            b Linked Accounts
        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account           
        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account
        if user.github
          p: a.text-danger(href='/account/unlink/github') Unlink your Github account
        else
          p: a(href='/auth/github') Link your Github account          

        //- a.btn(href='/resetgoal') Reset Your Goal
    br
    br
    div.cleared
    h2.text-center My Progress
    br
    div.progress
        .progress-bar(role="progressbar", style="width: 25%;", aria-valuenow="#{userLog.logentry.individGoalProgress}", aria-valuemin="0", aria-valuemax= "#{userLogs.individGoalValue}")   
    h2.text-center My Log
    br
    br
    table.datatable.table.table-striped.table-bordered
        thead.table-bordered
            tr
                th Date
                th
                th Log Entry Type
                th
                th Details
                th
                th Current Progress
                th
                th Remaining
        tbody   
            each userLog in userLogs
                tr
                    td  #{userLog.logentry.logDate}
                    td      
                    td  #{userLog.logentry.logType}
                    td      
                    td  #{userLog.logentry.logDetails}
                    td      
                    td  #{userLog.logentry.individGoalProgress}
                    td      
                    td  #{userLog.logentry.individGoalRemaining}

    h2.text-center My Image Gallery
        .container.width80
            .col-sm-12
                .bs-example
                    #myCarousel.carousel.slide
                        // Carousel indicators
                        ol.carousel-indicators
                            li.active(data-target="#myCarousel", data-slide-to="0")
                            li(data-target="#myCarousel", data-slide-to="1")
                            li(data-target="#myCarousel", data-slide-to="2")
                        // Carousel items
                        .carousel-inner
                            .active.item Slide 1
                            .item Slide 2
                            .item Slide 3
                        // Carousel nav
                        a.carousel-control.left-flat(href="#myCarousel", data-slide="prev") ‹
                        a.carousel-control.right-flat(href="#myCarousel", data-slide="next") ›
    


    br
    br
    br
    a.btn.text-center(href='/delete') Delete Account